
.yellow{

    color: rgba(236, 204, 104,1.0);
}
.coral{

    color: rgba(255, 127, 80,1.0);
}
.gray1{

    color: rgba(164, 176, 190,1.0);
}
.gray2{

    color: rgba(87, 96, 111,1.0);
}
.gray3{

    color:rgba(206, 214, 224,1.0);
}

.blue1{

    color:rgba(112, 161, 255,1.0);
}
.blue2{

    color:rgba(30, 144, 255,1.0);
}
.green{

    color:rgba(123, 237, 159,1.0);
}
.red{

    color:rgba(255, 99, 72,1.0);
}
