@font-face {
    font-family: 'CarnevaleeFreakshow';
    src: url('../../../../fonts/CarnevaleeFreakshow.ttf');
  }

.containerbody{
    background: linear-gradient(180deg, rgba(138, 130, 130, 0.281)4%, rgba(187, 187, 187, 0.055)),url(https://i.postimg.cc/PrSMsX36/curtain-decoration-fabric-illuminated-632205.jpg)center / cover no-repeat;
    background-color: none;
    
}
  .container {
    margin: 3.2em 0em;
  }
.circus-title{
    color: red;
    font-size: 12vh;
    position: relative;
    margin: auto;
    margin-top: 0.5em;
    font-family: "CarnevaleeFreakshow";
    text-align: center;
}
.img-head {
    z-index: 2;
    width: 100%;
    height: 70vw;
    margin: 0em 0em 0em 0em;
    background: linear-gradient(180deg, rgba(138, 130, 130, 0.65)4%, rgba(177, 166, 166, 0.4)), url(https://i.postimg.cc/D07PGZM6/cyrus-crossan-JOtu-J-DZj-Tw-unsplash.jpg) center / cover no-repeat;
    box-shadow:-6px 39px 73px  rgba(114, 114, 114, 0.876);
    background-attachment: fixed;
    min-height: 500px; 
}
.body{
    margin-top:20%;
    display: flex;
    justify-content: space-around;
}
.resaform{
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top:2em;
}
.buttonRepre{
    vertical-align: middle;
}

.butresa {
    padding: 1px 2px;
	margin: auto;
    margin-top:2em;
	display: flex;
    justify-content: space-around;
	color: #ffffff;
	font-size: 26px;
	cursor: pointer;
	height: auto;
	background: #000000;
	background: linear-gradient(top, #000000 0%, #000000 100%);
	background: -moz-linear-gradient(top, #000000 0%, #000000 100%);
	background: -webkit-linear-gradient(top, #000000 0%, #000000 100%);
	background: -o-linear-gradient(top, #000000 0%, #000000 100%);
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-o-border-radius: 1px;
	box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(187, 173, 173, 0.25);
	-moz-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-o-box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.50);
    opacity: 0.5;
}
.butresa:hover {
	background: linear-gradient(top, #0084ff 0%, #4095ff 100%);
	background: -moz-linear-gradient(top, #5aafff 0%, #4095ff 100%);
	background: -webkit-linear-gradient(top, #5aafff 0%, #4095ff 100%);
    background: -o-linear-gradient(top, #5aafff 0%, #4095ff 100%);
    opacity: 100;
}
@media only screen and (min-width: 530px) and  (max-width: 700px) {
    
    .circus-title{
        color: red;
        font-size: 10vh;
        position: relative;
        margin: auto;
        font-family: "CarnevaleeFreakshow";
        text-align: center;
        margin-top: 0.5em;
    }
    
}

@media only screen and (max-width: 530px) {
    .container {
        margin: 5em 0em;
      }
      .containerbody{
        margin-top:22%;
        
    }
    .circus-title{
        margin-top: 0.5em;
        color: red;
        font-size: 4.5vh;
        position: relative;
        margin: auto;
        font-family: "CarnevaleeFreakshow";
        text-align: center;
    }

}