.formulaireresa {
    background-color: #ced6e0;
    display:flex;
    text-align: center;
    flex-direction: column;
    max-width: 60%;
    max-height:450px;
    margin: auto;
    margin-top:0.2em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow:0px 1px 4px 3px rgba(164, 176, 190,1.0);
}

.inputForm {
    background-color:rgba(223, 228, 234,1.0);
    color: rgb(0, 0, 0);
    border: 1px black;
    height: 1.8em;
    width: 60%;
    margin:auto;
    margin-bottom: 1.5em;
    padding: auto;
    text-align: center;
}
.select{
    height: 2em;
    text-align: center;
    margin: 1.8em auto;
    margin-top:0.2em;
    width: 60%;
    background-color:rgba(223, 228, 234,1.0);
}
.inputForm:focus{
    width: 60%;
    border: 2.5px solid #ced6e0;
    background-color: #ffffff;
 }
 .textArea{
    width: 60%;
    margin:auto;
    background-color:rgba(223, 228, 234,1.0);
    margin-bottom: 1em ;
    text-align: center;
 }
 .textArea:focus{
    width: 60%;
    border: 2.5px solid #ced6e0;
    background-color: #ffffff;

 }
 .btnSendMsg{
    color:#5c646e;
    display: flex;
    margin: auto;
    margin-bottom: 0.5em;
    background-color: #ffffff;;
    padding: 1px 1px;
    font-size: 1.2em;
    opacity: 1;
    box-shadow:0px 1px 2px 2px rgba(164, 176, 190,1.0);

}