body, html {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #2f3542;
}

p {
    text-align: justify;
    line-height: 2em;
  }
  a {
    text-decoration: none;
    color: inherit;
  }