.logoSocial {
    font-size: 3em;;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    z-index: 100;
    opacity: 0.3em;
    background-color:rgba(223, 228, 234,1.0);
}

.footer_container{
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(223, 228, 234,1.0);
}